main{
    gap: 2em;
    margin-bottom: 1em;
}

.bracket-hero{
    max-width: 80vw;
    margin: 0 auto;
}

.bracket-container{
    padding: 1em;

    background-color: var(--lm-lighter-clr);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--lm-shadow);

    overflow: auto;
}

.bracket-container .bracket-title{
    min-width: 1500px;
    margin-bottom: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bracket-container .bracket-title h1{
    width: 200px;

    border-bottom: 2px solid var(--lm-highlight-clr);
    font-size: 0.8em;
    text-align: center;
}

.bracket-col-container{
    min-width: 1500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bracket-col-container .bracket-col{
    width: 200px;
    gap: 1em;
}

.bracket-col-container .bracket-col .bracket-item{
    gap: 0.3em;
}

.bracket-col-container .bracket-col .bracket-item .team{
    height: fit-content;
    width: 180px;
    margin: 0 auto;
    padding: 0.5em;

    display: flex;
    gap: 0.5em;

    background: var(--lm-bg-clr-1);
}
.bracket-col-container .bracket-col .bracket-item .team:hover{
    background: var(--lm-lighter-clr-alt);
}
.bracket-col-container .bracket-col .bracket-item .team.team1{
    border-left: 5px solid var(--team1-clr);
    border-bottom: 3px solid var(--team1-clr);
    border-radius: 0 var(--border-radius) 0 0;
}
.bracket-col-container .bracket-col .bracket-item .team.team2{
    border-left: 5px solid var(--team2-clr);
    border-top: 3px solid var(--team2-clr);
    border-radius: 0 0 var(--border-radius) 0;
}
.bracket-col-container .bracket-col .bracket-item .team p{
    font-size: 0.8em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bracket-col-container .bracket-col .bracket-item .team img{
    width: 20px;
    object-fit: contain;
    border-radius: 5px;
}
.bracket-col-container .bracket-col .bracket-item.winner-team .team{
    border: 3px solid transparent;
    border-radius: 10px;
    animation: winner-border 2s ease-in-out infinite;
}

.bracket-col.playoffs-r3{
    gap: 8.4em;
}
.bracket-col.playoffs-r4{
    gap: 23em;
}

.bracket-hero.teams32 .bracket-col.playoffs-r2{
    gap: 8.25em;
}
.bracket-hero.teams32 .bracket-col.playoffs-r3{
    gap: 22.8em;
}
.bracket-hero.teams32  .bracket-col.playoffs-r4{
    gap: 53em;
}


@keyframes winner-border{
    0%{
        border-color: var(--team1-clr);
    }

    50%{
        border-color: var(--team2-clr);
    }

    100%{
        border-color: var(--team1-clr);
    }
}

@media(min-width: 1700px){
    .bracket-hero{
        max-width: 1600px;
        margin: 0 auto;
    }
}

.dark-mode .bracket-container{
    background-color: var(--dm-darker-clr);
    box-shadow: 0px 0px 10px var(--dm-shadow-alt);
}

.dark-mode .bracket-container .bracket-title h1{
    border-bottom: 2px solid var(--dm-highlight-clr);
}
.dark-mode .bracket-col-container .bracket-col .bracket-item .team{
    background: var(--dm-bg-clr-1);
}
.dark-mode .bracket-col-container .bracket-col .bracket-item .team:hover{
    background: var(--dm-darker-clr-alt);
}