:root{
    --dm-bg-clr-1           : #342836;
	--dm-lighter-clr        : #DCC1EC;
	--dm-darker-clr         : #4C3E4B;
	--dm-highlight-clr      : #AD67CD;
	--dm-highlight-clr-alt  : #C588ED;
	--dm-text-clr           : #FFFFFF;
    --dm-linear-gradient    : linear-gradient(to left, transparent 0%, var(--dm-highlight-clr) 50%, transparent 100%);
    --dm-mob-bg-gradient    : linear-gradient(to top, var(--dm-bg-clr-1) 70%, transparent),url("../images/mobile-dm-bg.png");
    --dm-mob-bg-gradient-alt: linear-gradient(to top, var(--dm-bg-clr-1) 80%, transparent),url("../images/mobile-dm-bg.png");
    --dm-desk-bg-gradient   : linear-gradient(to top, var(--dm-bg-clr-1) 70%, transparent), url("../images/dm-bg.png");
    --dm-shadow             : #2b062681;
    --dm-shadow-alt         : #8a1d7b81;
}

.dark-mode{
	color: var(--dm-text-clr);
	background-image: var(--dm-mob-bg-gradient);
}

.dark-mode svg{
	color: var(--dm-text-clr);
}

.dark-mode a{
	color: var(--dm-highlight-clr);
}

.dark-mode .font-awesome-icon{
	fill: var(--dm-highlight-clr);
}

.dark-mode header{
	box-shadow: 0px 5px 5px var(--dm-shadow);
	background-color: var(--dm-darker-clr);
}
.dark-mode header h1{
	color: var(--dm-highlight-clr-alt);
	border-right: 1px solid var(--dm-highlight-clr-alt);
}
.dark-mode header nav a{
	color: var(--dm-lighter-clr);
	transition: var(--transition-time);
}
.dark-mode header nav a:hover{
	color: var(--dm-highlight-clr);
}
.dark-mode header nav a:hover svg{
	color: var(--dm-highlight-clr);
}
.dark-mode header nav a svg{
	color: var(--dm-lighter-clr);
}
.dark-mode header nav .font-awesome-icon{
	fill: var(--dm-lighter-clr);
}
.dark-mode header nav a:hover .font-awesome-icon{
	fill: var(--dm-highlight-clr);
}

.dark-mode .section-hr{
	background: var(--dm-linear-gradient);
}

.dark-mode .section-title{
	color: var(--dm-text-clr);
}
.dark-mode .section-title .font-awesome-icon{
    fill: var(--dm-text-clr);
}
.dark-mode .section-title .title-hr{
	background: var(--dm-linear-gradient);
}

.dark-mode .mobile-header nav a{
	color: var(--dm-text-clr);
}

.dark-mode .index-hero .title h1{
	color: var(--dm-highlight-clr);
}

.dark-mode .default-link-button{
    background: var(--dm-highlight-clr);

	border: 2px solid var(--dm-highlight-clr);
	color: var(--dm-text-clr);
}
.dark-mode .default-link-button .font-awesome-icon{
    fill: var(--dm-text-clr);
}
.dark-mode .default-link-button:hover{
	background-color: transparent;
}
.dark-mode .default-link-button .alt-icon{
	color: var(--dm-text-clr);
}

.dark-mode .highlight-container .item .image img{
	box-shadow: 0px 0px 10px var(--dm-shadow);
}
.dark-mode .highlight-container .item-text{
	border-top: 1px solid var(--dm-highlight-clr);
}

.dark-mode .highlight-container .sub-info #star, 
.dark-mode .sub-info #star svg{
	color: #d6d65e;
}
.dark-mode .highlight-container .sub-info #rating, 
.dark-mode .sub-info #rating svg{
	color: #da4f4f;
}
.dark-mode .highlight-container .sub-info #status, 
.dark-mode .sub-info #status svg{
	color: #79d26a;
}

.dark-mode .highlight-container .dots .dot{
	border: 2px solid var(--dm-highlight-clr);
}
.dark-mode .highlight-container .dots .dot:hover{
	background: var(--dm-highlight-clr);
}
.dark-mode .highlight-container .dots .dot.selected{
	background: var(--dm-highlight-clr);
}

.dark-mode #features .box-container .feature{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
	border: 2px solid var(--dm-highlight-clr);
}

.dark-mode #discord-bot div img{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
}

.dark-mode footer{
	background: #370c30;
	color: var(--dm-text-clr);
}
.dark-mode footer a,
.dark-mode footer svg{
	color: var(--dm-text-clr);
}
.dark-mode footer .font-awesome-icon{
	fill: var(--dm-text-clr);
}


@media(min-width: 1024px){
    .dark-mode{
		background-image: var(--dm-mob-bg-gradient-alt);
	}

    .dark-mode .highlight-container .item .image{
		border-left: 5px solid var(--dm-highlight-clr);
	}
    .dark-mode .highlight-container .item-text{
        border-top: none;
    }
}

@media(min-width: 1200px){
    .dark-mode{
		background-image: var(--dm-desk-bg-gradient);
	}

}