@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Jura:wght@300..700&family=Righteous&display=swap');
:root{
    --font-1: "Jura", sans-serif;
    --font-2: "Righteous", sans-serif;
    --font-3: "Caesar Dressing", cursive;

    --lm-bg-clr-1           : #F5ECF4;
	--lm-lighter-clr        : #FFFFFF;
	--lm-lighter-clr-alt    : #F4E1FD;
	--lm-darker-clr         : #454545;
	--lm-highlight-clr      : #934F98;
	--lm-highlight-clr-alt  : #733D77;
	--lm-text-clr           : #4a0e41;
	--lm-text-clr-alt       : #FFFFFF;
	--lm-linear-gradient	: linear-gradient(to left, transparent 0%, var(--lm-highlight-clr) 50%, transparent 100%);
	--lm-mob-bg-gradient	: linear-gradient(to top, var(--lm-bg-clr-1) 70%, transparent),url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/mobile-lm-bg_iltgwx.jpg");
	--lm-mob-bg-gradient-alt: linear-gradient(to top, var(--lm-bg-clr-1) 80%, transparent),url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/mobile-lm-bg_iltgwx.jpg");
	--lm-desk-bg-gradient	: linear-gradient(to top, var(--lm-bg-clr-1) 75%, transparent), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258969/lm-bg_gzmkde.jpg");
	--lm-shadow				: #72226625;
	--lm-shadow-alt			: #a987a393;
	--lm-shadow-alt-2		: rgba(151, 23, 151, 0.668);

	--dm-bg-clr-1           : #342836;
	--dm-lighter-clr        : #DCC1EC;
	--dm-darker-clr         : #4C3E4B;
	--dm-darker-clr-alt     : #5c4c5a;
	--dm-highlight-clr      : #8c45ad;
	--dm-highlight-clr-alt  : #C588ED;
	--dm-text-clr           : #FFFFFF;
    --dm-linear-gradient    : linear-gradient(to left, transparent 0%, var(--dm-highlight-clr) 50%, transparent 100%);
    --dm-mob-bg-gradient    : linear-gradient(to top, var(--dm-bg-clr-1) 85%, transparent),url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258969/mobile-dm-bg_nhvjms.png");
    --dm-mob-bg-gradient-alt: linear-gradient(to top, var(--dm-bg-clr-1) 80%, transparent),url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258969/mobile-dm-bg_nhvjms.png");
    --dm-desk-bg-gradient   : linear-gradient(to top, var(--dm-bg-clr-1) 70%, transparent), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258969/dm-bg_kuphgi.png");
    --dm-shadow             : #2704214e;
    --dm-shadow-alt         : #832f72a1;

    --team2-clr             : #FF9D9D;
	--team1-clr-alt         : #565688;
	--team1-clr             : #A3A3FF;
	--team2-clr-alt         : #9D5F5F;

	--border-radius			: 10px;
	--border-radius-alt		: 150px;
	--border-radius-alt-2	: 5px;
    --border-radius-alt-3   : 50px;

	--transition-time		: 0.3s linear;
}

.align-center{
	display: flex;
	align-items: center;
	gap: 0.5em;
}
.flex-column{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

html{
	scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
	box-sizing: border-box;
}

body{
	color: var(--lm-text-clr);
	font-family: var(--font-1);

	transition: var(--transition-time);
}
body .hidden-div{
	display: none;
}
body .hidden-icon{
	display: none;
}

abbr{
	text-decoration: none;
}
img{
	width: 250px;
}
svg{
	width: 25px;
	color: var(--lm-text-clr);
	transition: var(--transition-time);
}
a{
	text-decoration: none;
	color: var(--lm-highlight-clr);
}
button{
	background: transparent;
	cursor: pointer;
}
section{
	padding-block: 3em;
}
.font-awesome-icon{
	fill: var(--lm-highlight-clr);
}

.section-hr{
	width: 95%;
	margin: 0 auto;
	height: 4px;
	align-self: left;

	background: var(--lm-linear-gradient);
}

.section-title{
	min-width: 300px;
	max-width: 300px;

	border-left: 5px solid var(--lm-highlight-clr);
}
.section-title svg{
	color: var(--lm-text-clr-alt);
	width: 30px;
}
.section-title .font-awesome-icon{
	fill: var(--lm-text-clr-alt)
}
.section-title h1{
	font-weight: normal;
	background: var(--lm-highlight-clr);
	padding: 0.5em;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;

	color: var(--lm-text-clr-alt);

	margin-left: 0.3em;

	font-size: 1.8em;

	box-shadow: 0px 0px 5px var(--lm-shadow-alt);
}

.default-link-button{
	width: 100%;
	padding: 1em 2em 1em 2em;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;

	border: 2px solid var(--lm-highlight-clr);
	color: var(--lm-highlight-clr);
	border-radius: var(--border-radius-alt);
	transition: var(--transition-time);
}
.default-link-button:hover{
	gap: 1.5em;
	color: var(--lm-text-clr-alt);
	background-color: var(--lm-highlight-clr);
}
.default-link-button .default-icon,
.default-link-button .alt-icon{
	position: absolute;
	transition: var(--transition-time);
}
.default-link-button .default-icon{
	opacity: 1;
}
.default-link-button .alt-icon{
	opacity: 0;
	color: var(--lm-text-clr-alt);
}
.default-link-button:hover .default-icon{
	opacity: 0;
}
.default-link-button:hover .alt-icon{
	opacity: 1;
}
.default-link-button svg{
	width: 25px;
}
.link-icon-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-icons{
	justify-content: space-between;
}
.toggle-icons svg{
	width: 35px;
}

.change-theme svg{
	transition: var(--transition-time);
	cursor: pointer;
}
.change-theme svg:hover{
	transform: translateY(-0.3em);
	color: var(--lm-highlight-clr);
}

.change-language{
	cursor: pointer;
	transition: var(--transition-time);
}
.change-language:hover{
	text-decoration: underline;
	color: var(--lm-highlight-clr);
}


footer{
	padding: 1em;
	margin-top: 5em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;

	background: #401039;
	color: var(--lm-text-clr-alt);
}
footer a,
footer svg{
	color: var(--lm-text-clr-alt);
	text-decoration: underline;
}
footer .font-awesome-icon{
	fill: var(--lm-text-clr-alt);
	width: 20px;
}
footer span{
	display: flex;
	align-items: center;
	gap: 0.5em;
}


@media(min-width: 1024px){
	.toggle-icons{
		gap: 1em;
		margin-left: 1em;
	}
	.toggle-icons svg{
		width: 25px;
	}
	footer{
		flex-direction: row;
	}

	section{
		min-height: 70vh;
		justify-content: center;
	}
}


/* DARK THEME*/
.dark-mode{
	color: var(--dm-text-clr);
}

.dark-mode svg{
	color: var(--dm-text-clr);
}
.dark-mode a{
	color: var(--dm-lighter-clr);
}
.dark-mode .font-awesome-icon{
	fill: var(--dm-highlight-clr);
}

.dark-mode .section-hr{
	background: var(--dm-linear-gradient);
}

.dark-mode .section-title{
	border-color: var(--dm-highlight-clr);
}
.dark-mode .section-title svg{
	color: var(--dm-text-clr);
}
.dark-mode .section-title .font-awesome-icon{
	fill: var(--dm-text-clr);
}
.dark-mode .section-title h1{
	background: var(--dm-highlight-clr);

	color: var(--dm-text-clr);
	box-shadow: 0px 0px 5px var(--dm-shadow-alt);
}

.dark-mode .default-link-button{
	border-color: var(--dm-highlight-clr);
	color: var(--dm-text-clr);
	background: var(--dm-highlight-clr);
}
.dark-mode .default-link-button .font-awesome-icon{
	fill: var(--dm-text-clr);
}
.dark-mode .default-link-button:hover{
	background-color: transparent;
}

.dark-mode .change-theme svg:hover{
	color: var(--dm-lighter-clr);
}

.dark-mode .change-language:hover{
	color: var(--dm-highlight-clr);
}

.dark-mode footer{
	color: var(--dm-text-clr);
}
.dark-mode footer .font-awesome-icon{
	fill: var(--dm-text-clr);
}
.dark-mode footer,
.dark-mode footer a{
	color: var(--dm-text-clr);
}
/* DARK THEME*/