body{
    background: var(--lm-bg-clr-1);
}

main{
    gap: 5em;
    padding: 0.5em;
}

.section-vr{
    width: 5px;
    min-height: 50px;
    max-height: 100%;
    margin-right: 0.5em;

    background: var(--lm-highlight-clr);
    border-radius: var(--border-radius);
}

main .header .title{
    display: flex;
}
main .header h1{
    width: 100%;
    padding: 1em;

    background: var(--lm-highlight-clr);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    color: var(--lm-text-clr-alt);
    font-family: var(--font-3);
    font-size: 1.5em;
    box-shadow: 0px 5px 5px var(--lm-shadow);
}
main .header nav{
    padding-inline: 1em;
    justify-content: space-between;
}
main .header nav svg{
    width: 50px;
    padding: 0.5em;

    border: 2px solid var(--lm-highlight-clr);
    border-radius: var(--border-radius-alt-3);
    color: var(--lm-highlight-clr);
    cursor: pointer;
    transition: var(--transition-time);
}

main .header nav svg:hover{
    border-color: var(--lm-highlight-clr);
    background: var(--lm-highlight-clr);
    color: var(--lm-text-clr-alt);
}

main .match{
    margin: 1em;
    align-items: center;
}

.match .team{
    width: fit-content;
    height: fit-content;

    align-items: center;
    gap: 0.5em;

    transition: var(--transition-time);
}
.match .team:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.match .team .picture-frame{
    width: 350px;
    height: 500px;

    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--lm-shadow);
    border: 2px solid transparent;
}
.match .team.team1 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/container1_a3weby.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/kaguya-sama_rbt8gw.jpg");
    background-size: contain;
    border-color: var(--team1-clr);
}
.match .team.team2 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/container2_esgoby.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/steins_gate_dfnljb.jpg");
    background-size: contain;
    border-color: var(--team2-clr);
}
.match .team .name{
    width: 350px;
    min-height: 70px;
    padding: 1em 2em 1em 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--lm-text-clr-alt);
    border-radius: 0 0 var(--border-radius-alt-3) var(--border-radius-alt-3);
    border-top: 5px solid transparent;
    text-align: center;
}
.match .team.team1 .name{
    background: var(--team1-clr-alt);
    border-color: var(--team1-clr)
}
.match .team.team2 .name{
    background: var(--team2-clr-alt);
    border-color: var(--team2-clr)
}

.match .versus{
    align-items: center;

    font-family: var(--font-3);
}
.match .versus .versus-letter{
    font-size: 5em;
    color: var(--lm-highlight-clr);
}
.match .versus .versus-letter .letter-alt{
    color: var(--lm-highlight-clr-alt);
}


@media(min-width: 1024px){
    body{
        height: 100%;
    }

    main{
        padding: 0.5em;
    }

    main .match{
        height: 80vh;
        margin: 0;

        flex-direction: row;
        justify-content: center;
        gap: 4em;
    }

    main .header{
        flex-direction: row;
        justify-content: space-between;
    }
    main .header nav{
        gap: 2em;
    }
    main .header nav svg{
        width: 40px;
        padding: 0.3em;
    }
    main .header h1{
        min-width: 400px;
        padding: 0.8em;
    }

    .match .team .picture-frame{
        width: 280px;
        height: 400px;
    }
    .match .team .name{
        width: 280px;
    }
}

@media(min-width: 1400px){
    .match .team .picture-frame{
        width: 350px;
        height: 500px;
    }
    .match .team .name{
        width: 350px;
    }
}


/* DARK THEME */
.dark-mode{
    background-color: var(--dm-bg-clr-1);
}

.dark-mode .section-vr{
    background: var(--dm-highlight-clr);
}

.dark-mode main .header h1{
    background: var(--dm-highlight-clr);
    color: var(--dm-text-clr);
    box-shadow: 0px 5px 5px var(--dm-shadow);
}
.dark-mode main .header nav svg{
    border-color: var(--dm-text-clr);
    color: var(--dm-text-clr);
}

.dark-mode main .header nav svg:hover{
    border-color: var(--dm-highlight-clr);
    background: var(--dm-highlight-clr);
    color: var(--dm-text-clr);
}

.dark-mode .match .team .picture-frame{
    box-shadow: 0px 0px 10px var(--dm-shadow);
}

.dark-mode .match .team.team1 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/dm-container1_btbsxq.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/kaguya-sama_rbt8gw.jpg");
    background-size: contain;
}
.dark-mode .match .team.team2 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/dm-container2_hkpzzq.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/steins_gate_dfnljb.jpg");
    background-size: contain;
}

.dark-mode .match .team .name{
    color: var(--dm-text-clr);
}

.dark-mode .match .versus .versus-letter{
    color: var(--dm-highlight-clr);
}
.dark-mode .match .versus .versus-letter .letter-alt{
    color: var(--dm-highlight-clr-alt);
}
/* DARK THEME */