body{
    background: var(--lm-bg-clr-1);
}

main{
    gap: 5em;
}

main .header{
    padding: 1em;

    text-align: center;
    background-color: var(--lm-highlight-clr);
    color: var(--lm-text-clr-alt);
    font: 0.8em var(--font-3);
    border-radius: 0 0 var(--border-radius-alt-3) var(--border-radius-alt-3);

    box-shadow: 0px 5px 5px var(--lm-shadow);
}
main .header img{
    width: 45px;
    transition: var(--transition-time);
}
main .header svg{
    width: 35px;
    color: var(--lm-text-clr-alt);
}
main .header span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .header svg:hover,
main .header img:hover{
    transform: translateY(-0.3em);
    cursor: pointer;
}
main .header svg:hover{
    color: var(--lm-bg-clr-1);
}
main .header a{
    display: none;
}
main .header .mobile{
    display: block;
}

main .body{
    margin: 1em;
    align-items: center;
}

.team{
    width: fit-content;
    height: fit-content; 

    align-items: center;
    gap: 0.5em;

    transition: var(--transition-time);
}
.team:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.team .picture-frame{
    width: 350px;
    height: 500px;

    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px var(--lm-shadow);
    border: 2px solid transparent;
}
.team.team1 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/container1_a3weby.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/kaguya-sama_rbt8gw.jpg");
    background-size: contain;
    border-color: var(--team1-clr);
}
.team.team2 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/container2_esgoby.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/steins_gate_dfnljb.jpg");
    background-size: contain;
    border-color: var(--team2-clr);
}
.team .name{
    width: 350px;
    min-height: 70px;
    padding: 1em 2em 1em 2em;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--lm-text-clr-alt);
    border-radius: 0 0 var(--border-radius-alt-3) var(--border-radius-alt-3);
    border-top: 5px solid transparent;
    text-align: center;
}
.team.team1 .name{
    background: var(--team1-clr-alt);
    border-color: var(--team1-clr)
}
.team.team2 .name{
    background: var(--team2-clr-alt);
    border-color: var(--team2-clr)
}

.versus{
    align-items: center;

    font-family: var(--font-3);
}
.versus .versus-letter{
    font-size: 5em;
    color: var(--lm-highlight-clr);
}
.versus .versus-letter .letter-alt{
    color: var(--lm-highlight-clr-alt);
}


@media(min-width: 1024px){
    body{
        height: 100%;
    }

    main .body{
        height: 80vh;
        margin: 0;

        flex-direction: row;
        justify-content: center;
        gap: 4em;
    }

    main .header{
        width: 90%;
        margin: 0 auto;
        padding: 1.5em 5em;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    
        border-radius: 0 0 var(--border-radius-alt) var(--border-radius-alt);
    }
    main .header .mobile{
        display: none;
    }
    main .header a{
        display: block;
    }
    main .header img{
        width: 35px;
    }
    main .header svg{
        width: 30px;
        color: var(--lm-text-clr-alt);
    }

    .team .picture-frame{
        width: 280px;
        height: 400px;
    }
    .team .name{
        width: 280px;
    }
}

@media(min-width: 1400px){
    .team .picture-frame{
        width: 350px;
        height: 500px;
    }
    .team .name{
        width: 350px;
    }
}


/* DARK THEME*/
.dark-mode{
    background-color: var(--dm-bg-clr-1);
}

.dark-mode main .header{
    background-color: var(--dm-highlight-clr);
    color: var(--dm-text-clr);
    box-shadow: 0px 5px 5px var(--dm-shadow-alt);
}
.dark-mode main .header svg{
    color: var(--dm-text-clr);
}

.dark-mode .team .picture-frame{
    box-shadow: 0px 0px 10px var(--dm-shadow-alt);
}

.dark-mode .team.team1 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/dm-container1_btbsxq.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/kaguya-sama_rbt8gw.jpg");
    background-size: contain;
}
.dark-mode .team.team2 .picture-frame{
    background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/dm-container2_hkpzzq.png"), url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764527946/steins_gate_dfnljb.jpg");
    background-size: contain;
}

.dark-mode .team .name{
    color: var(--dm-text-clr);
}

.dark-mode .versus .versus-letter{
    color: var(--dm-highlight-clr);
}
.versus .versus-letter .letter-alt{
    color: var(--dm-highlight-clr-alt);
}