body{
	margin-top: 1em;

	display: flex;
	flex-direction: column;
	gap: 2em;

	background-image: var(--lm-mob-bg-gradient);
	background-size: fill;
	background-position: top center;
}

main{
	margin: 1em;
}

header{
	padding: 1em;
	margin-inline: 1em;
	border-radius: var(--border-radius);
	background: var(--lm-lighter-clr-alt);

	box-shadow: 0px 5px 5px var(--lm-shadow);

	display: flex;
	flex-direction: column;
	gap: 1.5em;
}
header .title{
	justify-content: space-between;
}
header .title h1{
	padding-right: 0.5em;

	font: normal 2em var(--font-1);
	border-right: 1px solid var(--lm-highlight-clr);
}
header .title svg{
	width: 35px;
	cursor: pointer;
}

header .header-items-icon{
	position: relative;
}
header .header-items-icon svg{
	position: absolute;
	right: 0;
	opacity: 0;
}
header .header-items-icon .active{
	opacity: 1;
}

header .items{
	display: none;
}
header .items.active{
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	font-size: 1.2em;
}
header .items a{
	gap: 0.4em;
}
header .items a,
header .items a svg{
	color: var(--lm-darker-clr);
}
header .items a .font-awesome-icon{
	fill: var(--lm-darker-clr);
}
header .items a:hover,
header .items a:hover svg{
	color: var(--lm-highlight-clr);
	text-decoration: underline;
}
header .items a:hover .font-awesome-icon{
	fill: var(--lm-highlight-clr);
}

.index-hero{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
.index-hero .title{
	display: flex;
	flex-direction: column;
	gap: 1em;

	text-align: center;
}
.index-hero .title h1{
	font-size: 3em;

	font-family: var(--font-1);
	color: var(--lm-highlight-clr);
	font-weight: normal;
}
.index-hero .title p{
	font-size: 1.2em;
}
.index-hero .title .buttons{
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;
	justify-content: space-between;
}

.highlight-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.highlight-container .item{
	width: 90%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
}
.highlight-container .item.hidden{
	display: none;
}
.highlight-container .item .image img{
	width: 300px;
	height: 420px;

	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px var(--lm-shadow-alt);
}
.highlight-container .item .info{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
.highlight-container .item-text{
	min-width: 350px;

	padding-top: 1em;

	display: flex;
	flex-direction: column;
	gap: 1em;

	border-top: 1px solid var(--lm-highlight-clr);
}
.highlight-container .item-text .item-link{
	align-self: self-end;
}
.highlight-container .sub-info{
	justify-content: space-between;
}
.highlight-container .sub-info #star, 
.sub-info #star svg{
	color: #878708;
}
.highlight-container .sub-info #rating, 
.sub-info #rating svg{
	color: #FF0000;
}
.highlight-container .sub-info #status, 
.sub-info #status svg{
	color: #146C04;
}
.highlight-container .item-body{
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.highlight-container .item-body .attribute .attribute-content,
.highlight-container .item-text h1{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}
.highlight-container .item-text h1{
	-webkit-line-clamp: 2;
}
.highlight-container .item-body .attribute .attribute-content{
	-webkit-line-clamp: 4;
}
.highlight-container .item-body .attribute .attribute-label, 
.highlight-container .item-body .attribute{
	gap: 0.5em;
}
.highlight-container .dots{
	gap: 1em;
}
.highlight-container .dots .dot{
	width: 30px;
	height: 15px;

	border: 2px solid var(--lm-highlight-clr);
	border-radius: var(--border-radius-alt);
	transition: var(--transition-time);
}
.highlight-container .dots .dot:hover{
	background: var(--lm-highlight-clr);
	cursor: pointer;
}
.highlight-container .dots .dot.selected{
	background: var(--lm-highlight-clr);
}

#features{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
#features .box-container{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
#features .box-container a:hover{
	text-decoration: underline;
}
#features .box-container .feature{
	min-height: fit-content;
	height: 300px;

	padding: 1em;

	box-shadow: 0px 0px 10px var(--lm-shadow-alt);
	border-radius: var(--border-radius);
	border: 2px solid var(--lm-highlight-clr);
	background-size: cover;
	background-position:  center center;
	transition: var(--transition-time);
}
#features .box-container .feature h2{
	margin-bottom: 0.5em;

	font-family: var(--font-4);
	font-weight: 500;
}
#features .box-container .feature p{
	font-size: 1.1em;
	line-height: 1.5em;
}
.feature.feature-1{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/discord_s1pbvp.png");
}
.feature.feature-2{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/rec_t2drmv.png");
}
.feature.feature-3{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/bracket-2_umpukm.png");
}

#discord-bot{
	display: flex;
	flex-direction: column;
	gap: 2em;
}
#discord-bot div{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
#discord-bot div img{
	width: 100%;

	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px var(--lm-shadow-alt);
}
#discord-bot div .container{
	display: flex;
	flex-direction: column;
	gap: 1em;
}
#discord-bot div .container p{
	font-size: 1.5em;
	text-align: center;
}
#discord-bot div .container small{
	font-size: 0.7em;
}
#discord-bot div .container p a:hover{
	text-decoration: underline;
}



@media(min-width: 1024px){
	body{
		margin-top: 1.5em;

		background-size: contain;
		background-image: var(--lm-mob-bg-gradient-alt);
	}

	header{
		flex-direction: row;
		gap: 2em;
		width: fit-content;
		margin-inline: auto;
	}
	header .title h1{
		font-size: 1.6em;
	}
	header .header-items-icon{
		display: none;
	}
	header .items,
	header .items.active{
		display: flex;
		flex-direction: row;
		gap: 1.5em;
		font-size: 1em;
	}
	header .items a svg{
		width: 20px;
	}
	
	.index-hero{
		width: 75%;
		margin: 0 auto;
	}

	.highlight-container .item .image{
		border-left: 5px solid var(--lm-highlight-clr);
		padding-left: 1em;
	}
	.highlight-container .item .info{
		flex-direction: row;
	}
	.highlight-container .item .image {
		padding-right: 1em;
	}
	.highlight-container .item-text{
		padding-top: 0;
		gap: 2em;
		border-top: none;
	}

	#features .box-container .feature{
		height: 300px;
		width: 500px;
		margin: 0 auto;
	}
	#features .default-link-button{
		width: 500px;
		margin: 0 auto;
	}
	#features .box-container .feature h2{
		font-size: 1.2em;
	}

	#discord-bot{
		gap: 3em;
	}
	#discord-bot div{
		width: 95%;
		margin: 0 auto;

		flex-direction: row;
		justify-content: space-between;
	}
	#discord-bot div img{
		width: 500px;
		margin: 0 auto;
	}
	#discord-bot div .container{
		width: 650px;
		margin: 0 auto;
	}
	#discord-bot div .container p{
		font-size: 1.5em;
		text-align: center;
	}
	#discord-bot div .container small{
		font-size: 0.7em;
	}
	#discord-bot div .container p a:hover{
		text-decoration: underline;
	}

	
}


@media(min-width: 1200px){
	body{
		background-image: var(--lm-desk-bg-gradient);
	}

	.index-hero{
		height: 70vh;
		width: 95%;
		max-width: 1500px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 2em;
	}
	.index-hero .title{
		max-width: 500px;
	}

	.highlight-container .item .info{
		width: 700px;
	}
	.highlight-container .item .image img{
		width: 250px;
		height: 350px;
	}

	#features .box-container .feature{
		height: 300px;
		width: 400px;
		margin: 0 auto;
	}
	#features .box-container .feature:hover{
		transform: scale(0.99);
		cursor: default;
	}
	#features .box-container{
		flex-direction: row;
	}
	#features .default-link-button{
		width: 500px;
		margin: 1em auto 0 auto;
	}

	#discord-bot div img{
		width: 600px;
		margin: 0 auto;
	}
}


@media(min-width: 1400px){
	.index-hero .title .buttons{
		display: grid;
		grid-template-columns: 60% auto;
		align-items: center;
	}
	.highlight-container .item .image img{
		width: 300px;
		height: 420px;
	}
}


.dark-mode{
	background-image: var(--dm-mob-bg-gradient);
}

.dark-mode header{
	background: var(--dm-darker-clr);
	box-shadow: 0px 5px 5px var(--dm-shadow);
}
.dark-mode header .title h1{
	color: var(--dm-highlight-clr-alt);
	border-color: var(--dm-highlight-clr);
}

.dark-mode header .items a,
.dark-mode header .items a svg{
	color: var(--dm-lighter-clr);
}

.dark-mode header .items a .font-awesome-icon{
	fill: var(--dm-lighter-clr);
}

.dark-mode header .items a:hover,
.dark-mode header .items a:hover svg{
	color: var(--dm-text-clr);
}
.dark-mode header .items a:hover .font-awesome-icon{
	fill: var(--dm-text-clr);
}

.dark-mode .index-hero .title h1{
	color: var(--dm-highlight-clr-alt);
}

.dark-mode .highlight-container .item .image img{
	box-shadow: 0px 0px 10px var(--dm-shadow);
}

.dark-mode .highlight-container .item-text{
	border-color: var(--dm-highlight-clr);
}

.dark-mode .highlight-container .sub-info #star, 
.dark-mode .sub-info #star svg{
	color: #cece6b;
}
.dark-mode .highlight-container .sub-info #rating, 
.dark-mode .sub-info #rating svg{
	color: #d56d6d;
}
.dark-mode .highlight-container .sub-info #status, 
.dark-mode .sub-info #status svg{
	color: #83dd73;
}

.dark-mode .highlight-container .dots .dot{
	border-color: var(--dm-highlight-clr);
}

.dark-mode .highlight-container .dots .dot:hover{
	background: var(--dm-highlight-clr);
}
.dark-mode .highlight-container .dots .dot.selected{
	background: var(--dm-highlight-clr);
}

.dark-mode #features .box-container .feature{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
	border-color:var(--dm-highlight-clr);
}

.dark-mode #discord-bot div img{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
	border: 1px solid var(--dm-highlight-clr);
}



@media(min-width: 1024px){
	.dark-mode{
		background-image: var(--dm-mob-bg-gradient-alt);
	}

	.dark-mode .highlight-container .item .image{
		border-color: var(--dm-highlight-clr);
	}

}

@media(min-width: 1200px){
	.dark-mode{
		background-image: var(--dm-desk-bg-gradient);
	}
}