/* -=-=-=-=-=-=-=-=- GENERAL START -=-=-=-=-=-=-=-=- */
body{
	margin-top: 1em;
	gap: 2em;

	background-image: var(--lm-mob-bg-gradient);
	background-size: fill;
	background-position: top center;
}
main{
	margin: 1em;
}
header{
	padding: 1em;
	margin-inline: 1em;

	display: flex;
	flex-direction: column;
	gap: 1.5em;

	border-radius: var(--border-radius);
	background: var(--lm-lighter-clr-alt);
	box-shadow: 0px 5px 5px var(--lm-shadow);
}
header .title{
	justify-content: space-between;
}
header .title h1{
	padding-right: 0.5em;

	font: normal 1.5em var(--font-3);
	color: var(--lm-highlight-clr);

	border-right: 1px solid var(--lm-highlight-clr);
}
header .title svg{
	width: 35px;
	cursor: pointer;
}
header .header-items-icon{
	position: relative;
}
header .header-items-icon svg{
	position: absolute;
	right: 0;
	opacity: 0;
}
header .header-items-icon .active{
	opacity: 1;
}
header .items{
	display: none;
}
header .items.active{
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	font-size: 1.2em;
}
header .items a{
	gap: 0.4em;
	transition: var(--transition-time);
}
header .items a,
header .items a svg{
	color: var(--lm-darker-clr);
}
header .items a .font-awesome-icon{
	fill: var(--lm-darker-clr);
}
header .items a:hover,
header .items a:hover svg{
	color: var(--lm-highlight-clr);
}
header .items a:hover .font-awesome-icon{
	fill: var(--lm-highlight-clr);
}
section.index-hero{
	padding-top: 1em;
}

@media(min-width: 1024px){
	body{
		margin-top: 1.5em;

		background-size: contain;
		background-image: var(--lm-mob-bg-gradient-alt);
	}

	header{
		width: fit-content;
		margin-inline: auto;

		flex-direction: row;
		gap: 2.5em;
	}
	header .title h1{
		font-size: 1.5em;
	}
	header .header-items-icon{
		display: none;
	}
	header .items,
	header .items.active{
		display: flex;
		flex-direction: row;
		gap: 2.5em;
		font-size: 1em;
	}
	header .items a svg{
		width: 20px;
	}
	
	section.index-hero{
		padding-top: 5em;
	}	
	
}
@media(min-width: 1200px){
	body{
		background-image: var(--lm-desk-bg-gradient);
	}
}

.dark-mode{
	background-image: var(--dm-mob-bg-gradient);
}
.dark-mode header{
	background: var(--dm-darker-clr);
	box-shadow: 0px 5px 5px var(--dm-shadow);
}
.dark-mode header .title h1{
	color: var(--dm-highlight-clr-alt);
	border-color: var(--dm-highlight-clr);
}
.dark-mode header .items a,
.dark-mode header .items a svg{
	color: var(--dm-text-clr);
}
.dark-mode header .items a .font-awesome-icon{
	fill: var(--dm-text-clr);
}
.dark-mode header .items a:hover,
.dark-mode header .items a:hover svg{
	color: var(--dm-highlight-clr-alt);
}
.dark-mode header .items a:hover .font-awesome-icon{
	fill: var(--dm-highlight-clr-alt);
}

@media(min-width: 1024px){
	.dark-mode{
		background-image: var(--dm-mob-bg-gradient-alt);
	}
}

@media(min-width: 1200px){
	.dark-mode{
		background-image: var(--dm-desk-bg-gradient);
	}
}
/* -=-=-=-=-=-=-=-=- GENERAL END -=-=-=-=-=-=-=-=- */


/* -=-=-=-=-=-=-=-=- INDEX HERO START -=-=-=-=-=-=-=-=- */
.index-hero{
	gap: 2em;
}
.index-hero .title{
	text-align: center;
}
.index-hero .title h1{
	font-size: 3em;

	font-family: var(--font-3);
	color: var(--lm-highlight-clr);
	font-weight: normal;
}
.index-hero .title p{
	font-size: 1.2em;
}
.index-hero .title .buttons{
	align-items: center;
	justify-content: space-between;
	gap: 1em;
}

@media(min-width: 1024px){
	.index-hero{
		width: 75%;
		margin: 0 auto;
		margin-bottom: 2em;	
	}
}
@media(min-width: 1200px){
	.index-hero{
		min-height: 70vh;
		width: 95%;
		max-width: 1500px;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		gap: 2em;
	}
	.index-hero .title.left{
		max-width: 500px;
	}
}
@media(min-width: 1400px){
	.index-hero .title .buttons{
		display: grid;
		grid-template-columns: 60% auto;
		align-items: center;
	}
}

.dark-mode .index-hero .title h1{
	color: var(--dm-text-clr);
}
/* -=-=-=-=-=-=-=-=- INDEX HERO END -=-=-=-=-=-=-=-=- */



/* -=-=-=-=-=-=-=-=- HIGHLIGHT START -=-=-=-=-=-=-=-=- */
.highlight-container{
	width: 90%;
	margin: 0 auto;
	gap: 1em;
}

.highlight-container .highlight{
	max-width: 850px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;

	animation: change-opacity 0.5s linear;
}

.highlight-image img{
	min-width: 300px;
	aspect-ratio: 2/3;

	border-radius: var(--border-radius);
	box-shadow: 0px 0px 5px var(--lm-shadow-alt-2);
}

.highlight .text{
	width: 100%;
	padding-top: 1em;

	gap: 1em;

	border-top: 1px solid var(--lm-highlight-clr);
}
.highlight-title{
	gap: 0.5em;
	text-align: left;
}
.highlight-title h1{
	height: 75px;

	font-size: 2em;
	font-weight: bold;
	color: var(--lm-darker-clr);
	font-family: var(--font-2);
	-webkit-line-clamp: 2;
}
.highlight-title .sub-info{
	justify-content: space-between;
}
.highlight-container .sub-info #star, 
.sub-info #star svg{
	color: #878708;
}
.highlight-container .sub-info #rating, 
.sub-info #rating svg{
	color: #FF0000;
}
.highlight-container .sub-info #status, 
.sub-info #status svg{
	color: #146C04;
}
.highlight-container .highlight-body .attribute{
	gap: 0.5em;
	border-left: 1px solid var(--lm-highlight-clr-alt);
	padding-left: 0.5em;
}

.highlight-body .attribute svg{
	color: var(--lm-highlight-clr-alt);
}
.highlight-body .attribute.big{
	align-items: flex-start;
}
.highlight-body .attribute.big .attribute-content{
	padding-top: 0.2em;
	-webkit-line-clamp: 4;
	height: 80px;
}
.highlight-body .attribute.item-link{
	align-self: flex-end;
	border-left: none;
}
.highlight-body .attribute.item-link:hover{
	text-decoration: underline;
}

.highlight-dots{
	margin: 0 auto;
}
.highlight-dots .dot{
	width: 30px;
	height: 15px;

	border-radius: var(--border-radius);
	background: transparent;
	border: 1px solid var(--lm-highlight-clr);
	transition: var(--transition-time);
	cursor: pointer;
}
.highlight-dots .dot.selected,
.highlight-dots .dot:hover{
	background: var(--lm-highlight-clr);
}

@media(min-width: 1024px){
	.highlight-container{
		max-width: 850px;
	}
	.highlight-container .highlight{
		width: 100%;
		flex-direction: row;
		justify-content: center;
	}

	.highlight .text{
		border-top: none;
		padding-top: 0;
		max-width: 450px;
	}
	.highlight-title h1{
		font-size: 1.5em;
		height: 55px;
	}

	.highlight-image{
		border-left: 5px solid var(--lm-highlight-clr);
		padding-left: 1em;
	}
	.highlight-image img{
		min-width: 250px;
		aspect-ratio: 2/3;
	}

	.highlight-body .attribute{
		font-size: 0.9em;
	}
	.highlight-body .attribute.big .attribute-content{
		padding-top: 0.35em;
		height: 75px;
	}
}

@media(min-width: 1200px) and (max-width: 1400px){
	.highlight-container{
		max-width: 600px;
	}
}

@media(min-width: 1500px){
	.highlight-container .highlight{
		justify-content: right;
	}
	.highlight-image img{
		min-width: 300px;
		aspect-ratio: 2/3;
	}
	.highlight-title h1{
		font-size: 1.6em;
		height: 60px;
	}
	.highlight-body .attribute{
		font-size: 1em;
	}
	.highlight-body .attribute.big .attribute-content{
		padding-top: 0.25em;
		height: 80px;
	}
}	

.highlight.skeleton .highlight-image{
	min-width: 300px;
	aspect-ratio: 2/3;
	border-radius: var(--border-radius);
	border: none;
}

.highlight-container .highlight.skeleton .text{
	width: 100%;
	gap: 1em;
}
.highlight.skeleton .highlight-title{
	height: 75px;
	border-radius: var(--border-radius);
}
.highlight.skeleton .highlight-body .attribute{
	height: 25px;
	border-radius: var(--border-radius);
	border: none;
}
.highlight.skeleton .highlight-body .attribute.big{
	height: 80px;
}
.highlight.skeleton .item-link{
	width: 100px;
	height: 25px;
	border-radius: var(--border-radius);
	align-self: self-end;
	margin-top: 1em;
}

.highlight-dots.skeleton{
	display: flex;
	gap: 1em;
	align-items: center;
	margin: 0 auto;
}
.highlight-dots.skeleton .dot{
	border: none;
}

.highlight-container .highlight.skeleton .skeleton-animation{
	animation: lm-skeleton 1s ease-in-out infinite;
}

@media(min-width: 1024px){
	.highlight.skeleton .highlight-image{
		min-width: 250px;
	}
}
@media(min-width: 1500px){
	.highlight.skeleton .highlight-image{
		min-width: 300px;
	}
}

.highlight.hidden,
.highlight.skeleton.hidden,
.highlight-dots.hidden .dot{
	display: none;
}
.highlight-body .attribute .attribute-content,
.highlight-container .highlight h1{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
}

.dark-mode .highlight-image img{
	box-shadow: 0px 0px 5px var(--dm-shadow-alt);
}
.dark-mode .highlight-container .item .text{
	border-color: var(--dm-highlight-clr);
}
.dark-mode .highlight-title h1{
	color: var(--dm-lighter-clr);
}

.dark-mode .highlight-container .sub-info #star, 
.dark-mode .sub-info #star svg{
	color: #dede7f;
}
.dark-mode .highlight-container .sub-info #rating, 
.dark-mode .sub-info #rating svg{
	color: #dd8282;
}
.dark-mode .highlight-container .sub-info #status, 
.dark-mode .sub-info #status svg{
	color: #86cc7a;
}
.dark-mode .highlight-body .attribute,
.dark-mode .highlight-body .attribute svg{
	border-color: var(--dm-highlight-clr-alt);
}

.dark-mode .highlight-body .attribute svg{
	color: var(--dm-highlight-clr-alt);
}

.dark-mode .highlight-dots .dot{
	border-color: var(--dm-highlight-clr);
}

.dark-mode .highlight-dots .dot.selected,
.dark-mode .highlight-dots .dot:hover{
	background: var(--dm-highlight-clr);
}

@media(min-width: 1024px){
	.dark-mode .highlight-image{
		border-color: var(--dm-highlight-clr);
	}
}

.dark-mode .highlight-container .highlight.skeleton .skeleton-animation{
	animation: dm-skeleton 1s ease-in-out infinite;
}
/* -=-=-=-=-=-=-=-=- HIGHLIGHT END -=-=-=-=-=-=-=-=- */


/* -=-=-=-=-=-=-=-=- FEATURE START -=-=-=-=-=-=-=-=- */
#features{
	max-width: 1800px;
	width: 90%;
	margin: 0 auto;
}

#features .section-title{
	margin-block: 1em;
}
#features .box-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2em;
	width: 100%;

	margin-bottom: 2em;
}
#features .box-container .feature{
	padding: 1em;

	border-radius: var(--border-radius);
	gap: 1em;
	box-shadow: 0px 0px 5px var(--lm-shadow-alt-2);

	width: 90%;
	height: 450px;
	margin: 0 auto;
	border: 1px solid var(--lm-highlight-clr);

	line-height: 2em;
}
#features .box-container .feature h2{
	font-family: var(--font-2);
	font-size: 1.3em;
}
#features .box-container .feature a:hover{
	text-decoration: underline;
}
#features .box-container .feature.feature-1{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/discord_s1pbvp.png") bottom right var(--lm-lighter-clr);
	background-size: contain;
	background-repeat: no-repeat;
}
#features .box-container .feature.feature-2{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/rec_t2drmv.png") bottom right var(--lm-lighter-clr);
	background-size: contain;
	background-repeat: no-repeat;
}
#features .box-container .feature.feature-3{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/bracket-2_umpukm.png") bottom right var(--lm-lighter-clr);
	background-size: contain;
	background-repeat: no-repeat;
}

@media(min-width: 768px){
	#features .box-container .feature{
		width: 400px;
		height: 450px;
		margin: 0 auto;
	}
}
@media(min-width: 1200px){
	#features{
		width: 100%;
	}
	#features .default-link-button{
		width: 50%;
		margin: 0 auto;
	}
	#features .box-container{
		flex-direction: row;
	}
	#features .box-container .feature{
		width: 350px;
		height: 400px;
		margin: 0 auto;
		transition: var(--transition-time);
		cursor: default;
	}
	#features .box-container .feature:hover{
		transform: scale(0.99);
		
	}

	#features .box-container .feature p{
		font-size: 1.1em;
	}
}
@media(min-width: 1400px){
	#features .box-container .feature{
		width: 400px;
		height: 450px;
		margin: 0 auto;
	}
	#features .default-link-button{
		width: 30%;
		margin: 0 auto;
	}
}


.dark-mode #features .box-container .feature{
	box-shadow: 0px 0px 5px var(--dm-shadow);
	border-color:var(--dm-highlight-clr);
	color: var(--dm-text-clr);
}

.dark-mode #features .box-container .feature.feature-1{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/discord_s1pbvp.png") bottom right var(--dm-darker-clr);
	background-size: contain;
	background-repeat: no-repeat;
}
.dark-mode #features .box-container .feature.feature-2{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/rec_t2drmv.png") bottom right var(--dm-darker-clr);
	background-size: contain;
	background-repeat: no-repeat;
}
.dark-mode #features .box-container .feature.feature-3{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/bracket-2_umpukm.png") bottom right var(--dm-darker-clr);
	background-size: contain;
	background-repeat: no-repeat;
}

.dark-mode #features .box-container .feature{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
	border-color:var(--dm-highlight-clr);
}
/* -=-=-=-=-=-=-=-=- FEATURE END -=-=-=-=-=-=-=-=- */


/* -=-=-=-=-=-=-=-=- DISCORD BOT START -=-=-=-=-=-=-=-=- */
#discord-bot{
	gap: 2em;
}
#discord-bot div{
	align-items: center;
	gap: 3em;
}
#discord-bot div img{
	width: 100%;

	border: 2px solid var(--lm-highlight-clr);
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 5px var(--lm-shadow-alt-2);
}
#discord-bot div .container p{
	font-size: 1.5em;
	text-align: center;
}
#discord-bot div .container small{
	font-size: 0.7em;
}
#discord-bot div .container p a:hover{
	text-decoration: underline;
}

@media(min-width: 1024px){
	#discord-bot{
		gap: 3em;
	}
	#discord-bot div{
		width: 95%;
		margin: 0 auto;

		flex-direction: row;
		justify-content: space-between;
	}
	#discord-bot div img{
		width: 500px;
		margin: 0 auto;
	}
	#discord-bot div .container{
		width: 650px;
		margin: 0 auto;
	}
	#discord-bot div .container p{
		font-size: 1.5em;
		text-align: center;
	}
	#discord-bot div .container small{
		font-size: 0.7em;
	}
	#discord-bot div .container p a:hover{
		text-decoration: underline;
	}
}
@media(min-width: 1200px){
	#discord-bot div img{
		width: 600px;
		margin: 0 auto;
	}
}

.dark-mode #discord-bot div img{
	box-shadow: 0px 0px 10px var(--dm-shadow-alt);
	border-color: var(--dm-highlight-clr);
}
.dark-mode .feature.feature-1{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/discord_s1pbvp.png"), var(--dm-darker-clr);
}
.dark-mode .feature.feature-2{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258970/rec_t2drmv.png"), var(--dm-darker-clr);
}
.dark-mode .feature.feature-3{
	background: url("https://res.cloudinary.com/dw2eqq9kk/image/upload/v1764258968/bracket-2_umpukm.png"), var(--dm-darker-clr);
}
/* -=-=-=-=-=-=-=-=- DISCORD BOT END -=-=-=-=-=-=-=-=- */


@keyframes change-opacity{
	from {
		opacity: 0;
		translate: 50px 0;
	}
	to{
		opacity: 1;
		translate: 0 0;
	}
}

@keyframes lm-skeleton{
	0%{
		background: #c088c38a;
	}

	50%{
		background: #dcc0dd8a;
	}

	100%{
		background: #c088c38a;
	}
}

@keyframes dm-skeleton{
	0%{
		background: #dcb3de8a;
	}

	50%{
		background: #dcb3de8a;
	}

	100%{
		background: #dcb3de8a;
	}
}