body{
    background: var(--lm-bg-clr-1);
}
main{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

main .title{
    padding: 1em 2em;

    align-items: center;
    gap: 0.5em;

    color: var(--lm-text-clr-alt);
    background: var(--lm-highlight-clr);
    box-shadow: 0px 5px 5px var(--lm-shadow-alt);
    border-radius: 0 0 var(--border-radius-alt-3) var(--border-radius-alt-3);
    text-align: center;
}
main .title .title-icon{
    padding: 0.8em;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--lm-lighter-clr);
    border-radius: var(--border-radius);
}
main .title .title-icon svg{
    width: 35px;
}
main .title h1{
    font-family: var(--font-3);
    font-weight: normal;
}
main .title p{
    font-weight: bold;
}

main .content{
    padding: 1em;
    margin: 1em;

    background: var(--lm-lighter-clr);
    border-radius: var(--border-radius);
}

nav{
    justify-content: space-between;
}

nav a,
nav a svg{
    color:var(--lm-highlight-clr);
    transition: var(--transition-time);
}
nav a:hover,
nav a:hover svg{
    color:var(--lm-text-clr);
    text-decoration: underline;
}

nav .toggle-icons{
    gap: 1em;
}
nav .toggle-icons svg{
    width: 30px;
}

main .content .body .default-link-button{
    margin-top: 1em;
    font-family: var(--font-1);
}
main .content .body .default-link-button svg{
    color: var(--lm-highlight-clr);
}
main .content .body .default-link-button:hover svg{
    color: var(--lm-text-cl-alt);
}

main .content .body .body-form .item{
    gap: 0.3em;
}
main .content .body .body-form .item input[type="number"]{
    width: 100px;
    margin-right: 1em;
}
main .content .body .body-form .item input[type="number"],
main .content .body .body-form .item select,
main .content .body .body-form .item input[type="text"]{
    padding: 1em;

    border: 1px solid  transparent;
    outline: none;
    border-radius: var(--border-radius);
    background-color:  var(--lm-bg-clr-1);
    color: var(--lm-text-clr);
    transition: var(--transition-time);
}
main .content .body .body-form .item input[type="number"]:hover,
main .content .body .body-form .item select:hover,
main .content .body .body-form .item input[type="text"]:hover,
main .content .body .body-form .item input[type="number"]:focus,
main .content .body .body-form .item select:focus,
main .content .body .body-form .item input[type="text"]:focus{
    background: transparent;
    border-color: var(--lm-highlight-clr);
}
main .content .body .body-form .item input[type="range"]{
    width: 100%;

    accent-color: var(--lm-highlight-clr-alt);
    cursor: grabbing;
}


@media(min-width: 1024px){
    body{
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }

    main{
        height: fit-content;
        margin-inline: 1em;

        display: grid;
        grid-template-columns: 40% auto;
        
        background: var(--lm-lighter-clr);
        border-radius: var(--border-radius);
        box-shadow: 0px 0px 10px var(--lm-shadow);
    }
    main .title{
        justify-content: center;
        gap: 1em;

        box-shadow: none;
        border-radius: var(--border-radius) var(--border-radius-alt) var(--border-radius-alt) var(--border-radius);
    }
    main .content{
        padding: 2em;
        margin: 0;

        background: transparent;
        border-radius: var(--border-radius);
    }
}

/* DARK THEME*/
.dark-mode{
    background: var(--dm-bg-clr-1);
}

.dark-mode main .title{
    color: var(--dm-text-clr);
    background: var(--dm-highlight-clr);
    box-shadow: 0px 5px 5px var(--dm-shadow-alt);
}

.dark-mode main .title .title-icon{
    background: var(--dm-darker-clr);
}

.dark-mode main .content{
    background: var(--dm-darker-clr);
}

.dark-mode nav .index-icon{
    color: var(--dm-text-clr);
}

.dark-mode nav a,
.dark-mode nav a svg{
    color:var(--dm-lighter-clr);
}
.dark-mode nav a:hover,
.dark-mode nav a:hover svg{
    color:var(--dm-text-clr);
}

.dark-mode main .content .body .body-form .item input[type="number"],
.dark-mode main .content .body .body-form .item select,
.dark-mode main .content .body .body-form .item input[type="text"]{
    background-color:  var(--dm-bg-clr-1);
    color: var(--dm-text-clr);
}

.dark-mode main .content .body .body-form .item input[type="number"]:hover,
.dark-mode main .content .body .body-form .item select:hover,
.dark-mode main .content .body .body-form .item input[type="text"]:hover,
.dark-mode main .content .body .body-form .item input[type="number"]:focus,
.dark-mode main .content .body .body-form .item select:focus,
.dark-mode main .content .body .body-form .item input[type="text"]:focus{
    border-color: var(--dm-highlight-clr);
}

.dark-mode main .content .body .body-form .item input[type="range"]{
    accent-color: var(--dm-highlight-clr-alt);
}

.dark-mode main .content .body .default-link-button svg{
    color: var(--dm-text-clr);
}
.dark-mode main .content .body .default-link-button:hover svg{
    color: var(--dm-text-clr);
}


@media(min-width: 1024px){
    .dark-mode main{
        background: var(--dm-darker-clr);
        box-shadow: 0px 0px 10px var(--dm-shadow-alt);
    }
    .dark-mode main .title{
        box-shadow: none;
    }
    .dark-mode main .content{
        background: transparent;
    }
}